<!--<div class="col-xs-6 col-xs-offset-3"> For pictuers in one row-->
<div class="col-xs-12">
    <div class="transitions-enabled", id="pics">
        <% @pics.each do |pic| %>
        <div class="box panel panel-default">
            <%= link_to (image_tag pic.image.url), pic %>
            <h2><%= link_to pic.title, pic %></h2>
            <p><%= truncate(pic.description, length: 50 ) %></p>
            <p>Created at: <%= time_ago_in_words(pic.user.created_at) %> ago</p>
        </div>
        <% end %>
    </div> 
</div>